<% provide(:title, @post.title) %>
<% content_for :head do %>
	<%= stylesheet_link_tag "blog", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "blog", "data-turbolinks-track" => true %>
<% end %>





<h1><%= @post.title %></h1>
<div class="row-fluid">
	<div class="col-md-6 col-md-offset-3">
		<%= image_tag @post.file, height:"300", width:"400" %>
		<h6><%= @post.image_caption %></h6>

		<h4>
		  <%= simple_format @post.caption %>
		</h4>
		 
		<p>
		  <%= simple_format @post.text %>
		</p>
		<hr>
		<%= link_to "Back", posts_path %>
	</div>
</div>